<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="<%= home_path %>">Vendelo E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <%= link_to t('.home'), home_path, class: 'nav-link text-light' %>
        <%= link_to t('.products'), products_path, class: 'nav-link text-light' %>
        <%= link_to t('.add_product'), new_product_path, class: 'nav-link text-light' %>
      </ul>
    </div>
  </div>
</nav>