<h1><%= t('.title') %></h1>
<p><%= t('.description') %></p>
<p>You can start building your application by editing the files in the <code>app/views/home/index.html.erb</code> file.</p>
<p>To learn more about Rails, visit the <a href="https://guides.rubyonrails.org/getting_started.html" target="_blank">Getting Started with Rails</a> guide.</p>
<%= link_to t('.go_to_products'), products_path, class: "btn btn-primary" %>