<h1>Welcome to Vendelo!</h1>
<p>This is the home page of your Rails application.</p>
<p>You can start building your application by editing the files in the <code>app/views/home/index.html.erb</code> file.</p>
<p>To learn more about Rails, visit the <a href="https://guides.rubyonrails.org/getting_started.html" target="_blank">Getting Started with Rails</a> guide.</p>
<%= link_to "Go to Products", products_path, class: "btn btn-primary" %>