<h1> <%= t('.title') %> </h1>
<% if @products.empty? %>
    <p>No hay productos disponibles.</p>
<% end %>
<div class="d-flex flex-wrap align-items-center justify-content-around">
    <%= render partial: 'shared/product', collection: @products %>
</div>